<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module/Config/etc/system_file.xsd">
    <system>
        <tab id="lotsofpixels" translate="label" sortOrder="9999" class="style-lotsofpixels">
            <label>LotsofPixels</label></tab>
        <section id="lotsofpixels_notificationbar" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Notification bar</label>
            <tab>lotsofpixels</tab>
            <resource>Lotsofpixels_NotificationBar::lotsofpixels_notificationbar</resource>
            <include path="Lotsofpixels_NotificationBar::general.xml"/>
            <include path="Lotsofpixels_NotificationBar::content.xml"/>
            <include path="Lotsofpixels_NotificationBar::styling.xml"/>
        </section>
    </system>
</config>